body {
  background-image: url("img/nebula.jpg");
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 3;
    transform: none;
  }
}

#title {
  text-align: center;
  height: 150px;
}

#title img {
  height: 150px;
}

#timer {
  position: absolute;
  top: 120px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  width: 900px;
}

#result {
  position: absolute;
  top: 680px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  font-weight: bold;
  color: white;
  width: 900px;
}

#cover {
  position: absolute;
  color: white;
  width: 900px;
  height: 500px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  line-height: 500px;
}

#cover img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50px;
  border: 1px solid white;
  background-color: rgb(08, 033,053);
}