body {
  background-image: url("./nebula.jpg");
}

#title {
  text-align: center;
  height: 130px;
}

#title img {
  height: 120px;
}

#timer {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  width: 900px;
}

#result {
  position: absolute;
  top: 680px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  font-weight: bold;
  color: white;
  width: 900px;
}